sqlalchemy
psycopg2-binary
asyncpg

python-geohash
polars
seaborn
python-dotenv

ipykernel
pydantic


scikit-learn
scipy
numpy
pandas
# For Jupyter Notebook support
jupyterlab
# For visualization
plotly

fastapi
uvicorn
